.jumbotron{
  background-image: url("http://courses.washington.edu/bimd233/midterm8z99/images/ca_jumbo.jpg");
  text-align: center;
  }

.container{
  /*======================= flex container =====================*/
  display: flex;              /* controls items within body     */ 
  flex-direction: row;        /* controls the following format  */
  justify-content: space-between; /* equal spacing around items  */
  align-items: center;        /* centers demo box vertically    */
  
  
  width: 100%;
  height: 100%;
  border: 5px solid black;
  background-color: gray;
  /*============================================================*/
}

.item {
  border: 5px solid gray;
  width: 100%;
  height: 100%;
  font-size: 2em;
  color: black;

  /*======================= flex container =====================*/
  display: flex;              /* controls text within item <div>*/
  flex-direction: row; 
  justify-content: center;    /* horizonal alignment of text    */
  align-items: center;        /* vertical alignment of text     */
  /*============================================================*/
}

.box{
  text-align: center;
  background-color: lightgray;
}

.footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

body{
  background:black;
}